# downloaded
node_modules
# built
**/bin
**/obj
# temp
*.tmp
*.log
*.orig
# user-specific
**/*.user
.vs
#.vscode
# secrets
.env
*.cert
*.pem
*.key
k8s.yaml
# non-production
appsettings.Development.json
**/launchSettings.json
